@mixin container-fluit() {
    max-width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    margin: 0 auto;
}

@mixin container() {
    width: 1260px;
    padding: 0px 10px;
    margin: 0 auto;
}